streamlit==0.51
pandas==0.25.3
numpy==1.18.1
cryptocmd==0.6.0
pandas-datareader==0.10.0
plotly==4.14.3
DateTime==4.3
matplotlib==3.3.4
scikit-learn>=0.18
selenium>=3.14.0
BeautifulSoup4
xlrd >= 1.0.0
openpyxl
